<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Vue Demo</title>
    </head>
    <body>
        <div id='app'>
            <div v-if="bShow">{{ computedDate }}</div>
            <div v-if="bShow">{{ methodDate() }}</div>
            <button @click='switchDisplay'>Switch</button>
        </div>

        <script type='text/javascript' src='../../vue-2.5.17/dist/vue.min.js'></script>
        <script type='text/javascript'>
        
            var app = new Vue({
                el: '#app',
                data: {
                    bShow: true
                },
                methods: {
                    switchDisplay: function() {
                        this.bShow = !this.bShow;
                    },
                    methodDate: function() {
                        return new Date();
                    }
                },
                computed: {
                    computedDate: function() {
                        return new Date();
                    }
                }
            })
        
        </script>
    </body>
</html>